body {
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    background: linear-gradient(to right, #33cccc 34%, #3366cc 78%);
    margin: 50px auto;
}

* {
    box-sizing: border-box;
}

.box {
    background-color: #f7f7f7;
    border: solid 3px black;
    border-radius: 5px;
    height: 400px;
    width: 400px;
    margin-top: 100px;
}

.main {
    text-align: center;
}

.box label {
    display: block;
    margin-top: 10px;
}
.buttoon{
    padding-left: 40%;

}
button {
    background-color: deepskyblue;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 80px;
    height: 50px;
}
.signinn{
    align-self: center;
}
button:hover {
    background-color: #4caf84;
}

button span {
    color: black;
    font-weight: bolder;
}
